body {
    background-color: #f4eeff;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #424874;
    border-width: 7px;
    width: 10%;
  }
  h1 {
    color: #25316D;
  }
  h3 {
    color: #25316D;
  }
  